<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bu.troissurquatre" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HelpActivity"
            android:label="@string/title_activity_help"
            android:screenOrientation="landscape" >

        </activity>
        <activity
            android:name=".InformationActivity"
            android:label="@string/title_activity_information"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".InformationActivity_1"
            android:label="@string/title_activity_information"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".InformationActivity_2"
            android:label="@string/title_activity_information"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".InformationActivity_3"
            android:label="@string/title_activity_information"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".MaisonActivity"
            android:label="@string/title_activity_maison"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:name=".MaisonActivity_1"
            android:label="@string/title_activity_maison"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:name=".MaisonActivity_2"
            android:label="@string/title_activity_maison"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:name=".MaisonActivity_3"
            android:label="@string/title_activity_maison"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".ShoppingActivity"
            android:label="@string/title_activity_shopping"
            android:screenOrientation="landscape">
        </activity>
    </application>

</manifest>
